@import url(./style/navbar.css);
@import url(./style/main.css);
@import url(./style/theme1.css);
@import url(./style/theme2.css);
@import url(./style/theme3.css);
@import url(./style/gallery.css);
@import url(./style/theme4.css);
@import url(./style/theme5.css);
@import url(./style/footer.css);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  height: 100%;
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
}
header,
section,
footer {
  position: relative;
  width: 100%;
  height: 100%;
}
:root {
  --espaco1: 10%;
  --espaco2: 4%;
  --letra: "Baskervville";
  --letra1: "Marck Script";
  --cor1: rgb(240, 105, 188);
  --cor2: rgb(243, 79, 180);
  --cor3: rgb(241, 41, 165);
  --cor4: rgb(247, 16, 158);
  --cor4: rgb(247, 16, 158);
  --cor5: rgb(216, 21, 102);
  --cor6: rgb(184, 10, 82);
}
