@import url(../style.css);
@import url(./query.css);

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 2.6rem;
  border-radius: 0 0 60px 60px;
  background: linear-gradient(0deg, var(--cor5) 10%, transparent 30%);
}
.footer-title {
  width: 50%;
}

.footer-pict {
  width: 70%;
  margin-block: 5rem 4rem;
}
.footer-pict img {
  object-fit: contain;
}
.footer-text {
  display: flex;
  gap: 20px;
}
.footer-text li {
  border: 3px solid #fff;
  background-color: #000;
  border-radius: 10px;
  padding: 0.5rem;
  transition: 0.5s;
}
.footer-text li a {
  color: #fff;
  font-family: var(--letra);
  transition: 0.5s;
}
.footer-text li a span {
  color: var(--cor5);
}
.footer-text li:hover {
  background-color: #fff;

  border: 3px solid var(--cor5);
}
.footer-text li:hover a {
  color: var(--cor5);
}
.footer-text li:hover a span {
  color: #000;
}
