@import url(../style.css);
@import url(./query.css);

main {
  position: relative;
  top: 10%;
  height: 90%;
  width: 100%;
  overflow: hidden;
  background-image: url("../pict/header_main/back01.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 0;
}
/* ________________________________________________*/

.main-info {
  position: relative;
  z-index: 3;
  height: auto;
  width: auto;
  text-align: center;
  transition: 0.3s;
}
.title-img {
  position: relative;
  object-fit: contain;
  border: 5px solid #fff;
}
.title-img img {
  object-fit: cover;
}
/* ao passar rato por cima n aparece o title */
.title-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.marcacao {
  text-align: center;
  border: 4px solid var(--cor6);
  margin-top: 20px;
  display: inline-flex;
  border-radius: 10px;
  background-color: var(--cor5);
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-family: var(--letra1);
  transition: 0.5s;
  animation: title 2s infinite alternate-reverse linear;
}
.marcacao:hover {
  background-color: #fff;
  border: 4px solid var(--cor5);
}
.marcacao a {
  color: #fff;
  font-size: 2.7vh;
}
.marcacao:hover a {
  color: var(--cor5);
}

/* __________Animation_________________*/

@keyframes title {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
    border: 4px solid var(--cor6);
  }
}
