@import url(../style.css);
@import url(./query.css);

.theme4 {
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-inline: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35vh;
}
.theme4-pict {
  transition: 0.5s;
}
.theme4-pict img {
  object-fit: cover;
}
