@import url(../style.css);
@import url(./query.css);

.theme2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 3%;
  justify-content: space-between;
  gap: 10vh;
}
/* _____________________ TITLE _____________________ */
.theme2-pict-title {
  color: var(--cor5);
  font-family: var(--letra1);
  font-size: 8.5vh;
  font-style: italic;
  font-weight: bold;
  transition: 0.5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.theme2-life {
  display: flex;
  align-items: center;
  gap: 20px;
}
.theme2-life-pict {
  height: 65px;
  width: 65px;
  object-fit: contain;
}
/* _____________________ THEME2-PART1 _____________________ */
.theme2-part1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme2-part1-pict {
  border: 5px solid var(--cor5);
  width: 500px;
  height: 500px;
  padding: 20px;
  transition: 0.3s;
}
.theme2-part1-pict img {
  object-fit: cover;
}
.theme2-part1-text {
  min-height: 180px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: var(--cor5);
  width: 360px;
  font-family: var(--letra);
  font-style: italic;
  font-size: 3.5vh;
  box-shadow: 2px 4px 5px #000;
}
/* _____________________ THEME2-PART2 _____________________ */
