@import url(../style.css);
@import url(./query.css);

.theme4 {
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  padding-inline: 2%;
  display: none;
}
.theme4-pict {
  border: 1px solid blue;
  transition: 0.5s;
}
.theme4-pict img {
  object-fit: cover;
}
