@media screen and (max-width: 450px) {
  .main-info {
    border: 2px solid rgb(223, 247, 12);
    height: 230px !important;
    width: 86% !important;
  }
  /*_____________________ Theme1________________________*/
  .theme1 ul li {
    border: 3px solid orange !important;
    min-width: 140px !important;
    min-height: 140px !important;
  }
}
