@media screen and (max-width: 450px) {
  .main-info {
    height: 230px !important;
    width: 86% !important;
  }
  /*_____________________ Theme1________________________*/
  .theme1 ul li {
    min-width: 140px !important;
    min-height: 140px !important;
  }
  /*_____________________ Theme2________________________*/
  .theme2-title-text {
    font-size: 6vh;
  }
  .theme2-part1-pict {
    width: 290px !important;
    height: 290px !important;
  }
  .theme2-part1-text {
    width: 350px !important;
    font-size: 3vh;
  }
  /* _____________________THEME5_______________________ */
  .box {
    width: 70% !important;
    height: 70% !important;
  }
  .cards__container {
    height: 65% !important;
    padding: 0;
  }
}
