@media screen and (max-width: 576px) {
  main {
    background-size: 110% 100%;
    padding-bottom: 14% !important;
  }
  .main-info {
    width: 85%;
  }
  /*_____________________ Theme1__________________*/
  .theme1 {
    margin-bottom: 10vh !important;
  }
  .theme1-title {
    font-size: 7vh;
  }
  .theme1 ul li {
    min-width: 180px !important;
    min-height: 180px !important;
  }
  .theme1-text {
    font-size: 1.5vh;
    padding-bottom: 8px;
  }
  /* _____________THEME2_________________ */
  .theme2 {
    justify-content: space-evenly;
    height: 90%;
    gap: 5vh;
    margin-bottom: 15vh !important;
  }
  .theme2-pict-title {
    font-size: 4.5vh !important;
  }
  .theme2-life {
    font-size: 6.5vh;
    gap: 10px;
  }

  .theme2-part1-pict {
    width: 320px !important;
    height: 320px !important;
    border-bottom: 0 !important;
    padding: 10px !important;
  }
  .theme2-part1-text {
    width: 380px !important;
    font-size: 2.6vh;
  }

  /*_____________________ Theme3_______________*/
  .gallery-text h3 {
    font-size: 4vh;
    font-style: italic;
    font-family: var(--letra);
  }
  .theme3-box {
    width: 320px !important;
    height: 240px !important;
  }
  /*_____________________ Gallery________________________*/
  .gallery-photo {
    gap: 30px !important;
  }
  .gallery-photo li {
    height: 260px !important;
    width: 260px !important;
  }
  /* _____________________THEME4_______________________*/
  .theme4 {
    margin-bottom: 30vh !important;
  }

  /* _____________________THEME5_______________________ */
  .theme5 {
    margin-bottom: 10vh !important;
  }
  .theme5-title {
    font-size: 4.2vh;
  }

  .box:nth-child(1) {
    left: 52% !important;
  }
  .box:nth-child(2) {
    left: 24% !important;
  }
  .box:nth-child(4) {
    left: -24% !important;
  }
  .box:nth-child(5) {
    left: -52% !important;
  }
}
/* ____________________Footer____________________*/

.footer-pict {
  margin-block: 3rem 4rem;
}
