@media screen and (max-width: 576px) {
  .main-info {
    border: 2px solid rgb(73, 212, 18);
    height: 260px !important;
    width: 360px !important;
  }
  /*_____________________ Theme1__________________*/

  .theme1 ul li {
    border: 3px solid rgb(219, 19, 186) !important;
    min-width: 180px !important;
    min-height: 180px !important;
  }
  /* _____________THEME2_________________ */
  .theme2 {
    height: 85% !important;
  }
  .theme2-pict-title {
    width: 370px !important;
  }
  .theme2-part1-pict {
    width: 330px !important;
    height: 330px !important;
    border-bottom: 0 !important;
    padding: 10px !important;
  }
  .theme2-part1-text {
    width: 370px !important;
  }
  /*_____________________ Theme3_______________*/

  .theme3-box {
    width: 320px !important;
    height: 240px !important;
  }
  /*_____________________ Gallery________________________*/
  .gallery-photo li {
    height: 250px !important;
    width: 250px !important;
    box-shadow: 3px 3px 3px rgb(50, 216, 8);
  }
}
