@media screen and (max-width: 768px) {
  /*_____________________ Theme1 ___________________*/

  .theme1 ul li {
    border: 3px solid red !important;
    min-width: 220px;
    min-height: 220px;
  }

  /*______________________Theme4______________________*/
  .theme4 {
    height: 60%;
  }
  .theme4-pict {
    border: 3px solid red !important;
  }
  /* _____________________THEME5_______________________ */
  .box {
    min-width: 200px !important;
    height: 90% !important;
  }
  .cards__container {
    height: 50% !important;
  }
  .box:nth-child(1) {
    left: 43%;
  }
  .box:nth-child(2) {
    left: 20%;
  }
  .box:nth-child(4) {
    left: -20%;
  }
  .box:nth-child(5) {
    left: -43%;
  }
  .box:nth-child(2n) {
    transform: scale(0.75);
  }
  .box:nth-child(4n + 1) {
    transform: scale(0.65);
  }
}
