@media screen and (max-width: 900px) {
  .navegador {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    border-radius: 0px 0 0 10px;
    z-index: 5;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
  .navegador li:not(:last-child) {
    border: 1px solid blue;
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .fecharMenu {
    display: flex;
  }
  .fecharMenu p {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav {
    display: flex !important;
  }
  /* ______________________________ */
  .main-info {
    height: 340px !important;
    width: 500px !important;
    border: 2px solid red;
  }
  /* _____________THEME2_________________ */
  .theme2-part1 {
    flex-direction: column;
  }
  .theme2-pict-title {
    margin-bottom: 10% !important;
  }
  .theme2-part1-pict {
    width: 400px !important;
    height: 400px !important;
    border-bottom: 0 !important;
  }
  .theme2-part1-text {
    min-height: auto !important;
    justify-content: center;
    padding-block: 10px;
    width: 450px !important;
  }
  /*_____________________ Theme3_______________*/

  .theme3 {
    border: 1px solid greenyellow !important;
    flex-direction: column-reverse;
    gap: 10%;
  }
  .theme3-box {
    width: 360px !important;
    height: 270px !important;
  }
  /* _____________THEME5_________________ */
  .box {
    min-width: 210px !important;
  }
  .theme5-title {
    top: 8% !important;
  }
  .cards__container {
    height: 60% !important;
  }
  .box:nth-child(1) {
    left: 36%;
  }
  .box:nth-child(2) {
    left: 17%;
  }
  .box:nth-child(4) {
    left: -17%;
  }
  .box:nth-child(5) {
    left: -36%;
  }
  .box:nth-child(2n) {
    transform: scale(0.8);
  }
  .box:nth-child(4n + 1) {
    transform: scale(0.7);
  }
}
